block variables

doctype html
html(lang="en" dir="ltr" ng-app="wolfhound.app")

  include mixins.pug

  head
    include partials/head.pug
    block head

  if pageClassName
    body(class="#{pageClassName} ng-cloak")
      include partials/body.pug

  else
    body(class="ng-cloak")
      include partials/body.pug
