//- Add the mixin includes here, just to keep them neat and tidy

include mixins/tweet.pug
include mixins/image.pug
include mixins/youtube.pug
include mixins/facebook.pug
include mixins/error-page-form.pug
include mixins/author.pug
include mixins/articles.pug
include mixins/postinfo.pug
include mixins/image-gallery.pug
include mixins/loading.pug
include mixins/filters.pug
include mixins/pagination.pug
include mixins/skills.pug
