//- Add the mixin includes here, just to keep them neat and tidy

include mixins/tweet.jade
include mixins/image.jade
include mixins/youtube.jade
include mixins/facebook.jade
include mixins/error-page-form.jade
include mixins/author.jade
include mixins/articles.jade
include mixins/postinfo.jade
include mixins/image-gallery.jade
include mixins/loading.jade
include mixins/filters.jade
include mixins/pagination.jade
