extends ../assets/jade/html.jade

block variables
  //- should only need to change the id in the articles array
  - var article = articles[0];
  - var pagetitle = article.title;
  - var tweetQuote = true;
  - var metaData = { contenttitle: article.title, url: site.baseurl + article.link, image: site.baseurl + site.defaultThumbnail, author: site.authors.harry, description: article.intro, twitter_large: true};

block content

  div.individual-article

    +postinfo(article.issue, article.date, article.categories)

    h1 #{pagetitle}

    p #{article.intro}

    p I've switched from using Wordpress to treating this site like a webapp. Ultimately I'm using Git to store all the code.

    p I use the following technologies, only as I'm fairly comfortable with them;

      ul
        li NodeJS
        li GruntJS
        li AngularJS
        li Jade (now Pug, haven't had a chance to update yet)
        li Sass
        li Some PHP

    p My long term goal is to trial new technologies, write about them, along with writing about numerous other topics I'm interested in.

    +author(metaData.author)
