extends ../assets/pug/html.pug

block variables
  - var pagetitle = 'Archive of Articles';
  - var metaData = { contenttitle: pagetitle, url: site.baseurl + '/articles/archive.html', image: site.baseurl + site.defaultThumbnail, author: site.authors.harry, description: 'A complete list of articles I have written.'};

block content
  h1 #{pagetitle}

  p  This is the full list of everything, by issue, starting with oldest first.

  +articles(articles)

  p If you want paginated, filtering capabilities, go back to the main <a href="index.html">index of posts here</a>
