//- @name: Image Mixin

//- @description: Handles images across the site. Wraps each image in a responsive container

//- @params:
//- url: String (compulsory)
//- alt: String (compulsory)
//- longdesc: String (optional)
//- caption: Boolean (optional) - Displays alt value

mixin image(url, alt, longdesc, caption)
  div.responsive-image
    figure
      img(lazy-load image=""+url+"" alt=""+alt+"")&attributes(longdesc ? {'longdesc': longdesc} : {})
      if caption
        figcaption #{alt}
