mixin pagination

  div.margin-bottom-1em(ng-if="noofpages > 1")

    div
      button.ghost-button.margin-left-right-2px(ng-disabled="currentPage === 1" ng-click="prevPage()") &lt;

      button.ghost-button.margin-left-right-2px(ng-repeat="page in pageList track by $index" ng-click="goToPage(page)" ng-class="{'highlighted': currentPage === page}" ng-disabled="currentPage === page") {{ page }}

      button.ghost-button.margin-left-right-2px(ng-disabled="currentPage === noofpages" ng-click="nextPage()") &gt;
