mixin skills
  div.skills
    div.a-row
      div.skill-level-header
        span Beginner
      div.skill-level-header
        span Intermediate
      div.skill-level-header.last
        span Expert
    span.bar.third
    span.bar.twothirds
    ul
      li(ng-repeat="parent in skillset")

        div(class="parent" ng-click="showChild = !showChild" ng-class="{'cursor': parent.related, 'selectedParent': showChild && parent.related}")

          h3 {{ parent.skill }}

          div.expand(ng-class="{'down': !showChild && parent.related, 'up': showChild && parent.related}")

          div.skill.parent(ng-style="{'width': parent.proficiency === 100 ? parent.proficiency - 0.01 +'%' : parent.proficiency +'%'}" ng-init="showChild = false")

        ul(ng-if="showChild")

          li(ng-repeat="child in parent.related")

            div(class="child" ng-click="showGrandChild = !showGrandChild" ng-class="{'cursor': child.related, 'selectedChild': showChild && parent.related, 'selectedChild': showGrandChild && parent.related}")

              h4 {{ child.skill }}

              div.expand(ng-class="{'down': !showGrandChild && child.related, 'up': showGrandChild && child.related}")

              div.skill.child(ng-style="{'width': child.proficiency === 100 ? child.proficiency - 0.01 +'%' : child.proficiency +'%'}" ng-init="showGrandChild = false" )

                span(ng-style="{'margin-left': child.proficiency <=35 ? child.proficiency + 90 + '%' : 0 }")

            ul(ng-if="showGrandChild")

              li(ng-repeat="grandchild in child.related")

                div(class="grandchild")

                  h5 {{ grandchild.skill }}

                  div.skill.grandchild(ng-style="{'width': grandchild.proficiency === 100 ? grandchild.proficiency - 0.01 +'%' : grandchild.proficiency +'%'}")
