mixin author(authorobject)
  div.author
    div.a-row
      div.a-column.width-20-in-pc
        div.profilepic
          +image(authorobject.profilePic, "Profile picture of "+authorobject.displayName)
      div.a-column.width-80-in-pc
        div.about
          h4.no-margins.margin-bottom-1em About the author
          p #{authorobject.bio}

          ul
            if authorobject.twitterHandle
              li
                a(href="http://www.twitter.com/"+authorobject.twitterHandle+"" target="_blank") Twitter

            if authorobject.gitHub
              li
                a(href=""+authorobject.gitHub+"" target="_blank") GitHub

            if authorobject.moreAbout
              li
                a(href=""+authorobject.moreAbout+"" target="_blank") More About Me
