mixin image-gallery
  div.image-gallery(ng-if="showGallery" ng-swipe-left="openGalleryItem(nextGalleryImage)" ng-swipe-right="openGalleryItem(prevGalleryImage)")
    button.ghost-button.close-button(ng-click="closeGallery()" aria-label="Close")
      span.icon-cancel

    div.the-grid.medium.margin-top-4em

      div.direction-buttons.prev
        button.icon-left-open-big(ng-click="openGalleryItem(prevGalleryImage)")

      div.direction-buttons.next
        button.icon-right-open-big(ng-click="openGalleryItem(nextGalleryImage)")

      div.a-row.item-count
        div.a-column.width-1-of-12.align-center
          span {{currentGalleryImageLabel}} of {{galleryImageNum}}

      div.a-row
        div.a-column.width-2-of-12
          h2 {{galleryTitle}}
          p  {{galleryDescription}}
        div.a-column.width-2-of-12
          div.responsive-image
            img(ng-src="{{galleryImage}}" status="loaded")
