mixin postinfo(postdate, categories)
  div.postinfo
    span(ng-bind="#{postdate} | date:'LLLL dd, yyyy'")
    span.middot &middot;
    span #{categories}
    span.middot &middot;
    span(approx-reading-time) {{approxReadingTime}} mins read
