---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Wolfhound">
	<main>
		Wolfhound
	</main>
</Layout>

<style>
	main {
		width: 100vw;
		height: 100vh;
		color: #333;
		font-size: calc(10px + 8vmin);
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		font-weight: bold;
	}
</style>
