{{ define "main" }}
<div class="text-center">
  <h1 class="text-6xl font-bold text-gray-900 dark:text-white">{{ .Site.Title }}</h1>
</div>
<div class="bg-white dark:bg-gray-800">
  <h1 class="text-gray-900 dark:text-white text-2xl">Dark mode is here!</h1>
  <p class="text-gray-600 dark:text-gray-300">
    Lorem ipsum...
    <a class="tag" href="#">Click Me!</a>
  </p>
</div>
<div class="flex justify-around">
  <div class="div bg-blue-100"></div>
  <div class="div bg-blue-200"></div>
  <div class="div bg-blue-300"></div>
  <div class="div bg-blue-400"></div>
  <div class="div bg-blue-500"></div>
  <div class="div bg-blue-600"></div>
  <div class="div bg-blue-700"></div>
  <div class="div bg-blue-800">f</div>
  <div class="div bg-blue-900">f</div>
</div>
<div class="flex justify-around">
  <div class="div bg-yellow-100"></div>
  <div class="div bg-yellow-200"></div>
  <div class="div bg-yellow-300"></div>
  <div class="div bg-yellow-400"></div>
  <div class="div bg-yellow-500"></div>
  <div class="div bg-yellow-600"></div>
  <div class="div bg-yellow-700"></div>
  <div class="div bg-yellow-800">f</div>
  <div class="div bg-yellow-900">f</div>
</div>
<div class="flex justify-around">
  <div class="div bg-pink-100"></div>
  <div class="div bg-pink-200"></div>
  <div class="div bg-pink-300"></div>
  <div class="div bg-pink-400"></div>
  <div class="div bg-pink-500"></div>
  <div class="div bg-pink-600"></div>
  <div class="div bg-pink-700"></div>
  <div class="div bg-pink-800"></div>
  <div class="div bg-pink-900"></div>
</div>
{{ end }}