if !footerHidden
  footer
    div.footer
      span w
      div.copyright &copy; #{site.title}, 2016

div.body-overlay.show(ng-if="menuShown" ng-click="toggle()")
div.fixed.bottom-0(cookie-warning)

if tweetQuote
  div(ng-if="showTooltip" class="quoteTooltip {{toolTipArrow}}" ng-style="{'top': toolTipTop, 'left': toolTipLeft}")
    a(href="#" ng-click="sendQuote()")
      span.icon-twitter-1

script(async src="/assets/scripts/wolfhound.app.js")
link(rel="prefetch" href="/assets/img/other/wmd-fallback.png")
