<!--[if lte IE 9]>

div.legacy
  div.the-grid.small
    div.a-row
      div.a-column.width-1-of-12
        h1 Leg&middot;a&middot;cy <span>/'lɛgəsi/</span>

        div.definitions
          p adj.
          ol
            li of or pertaining to old or outdated computer hardware, software, or data that, while still functional, does not work well with up-to-date systems
            li definitely your browser which we just don't support anymore.

<![endif]-->


