html{

  body {
    background-color: $mainBackgroundColour;
    color: $primaryForegroundColour;

    .home-banner{
      &:before {
        content: "";
        background-color: rgba($black,0.3);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      font-size: 0.8em;
      display: block;
      position: relative;
      height: 400px;
      background-position: center 65%;
      background-repeat: no-repeat;
      background-color: $gray;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      @include superwide {
        background-image: url(../img/dunamaise-superwide.JPG);
      }
      @include desktop {
        background-image: url(../img/dunamaise-desktop.JPG);
      }
      @include tablet {
        font-size: 1em;
        background-image: url(../img/dunamaise-tablet.JPG);
      }
      @include mobile {
        background-image: url(../img/dunamaise-mobile.JPG);
      }

    }

    .body-overlay{
      &.show{
        z-index:1;
        height: 100%;
        background-color: rgba($black,0.9);
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: " ";
      }
    }
  }
}
