html{
  // height:100%;
  // min-height:100%;

  body {
    background-color: $mainBackgroundColour;
    color: $primaryForegroundColour;

    &.home{
      // min-height:100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-color: $gray;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      @include superwide {
        background-image: url(../img/dunamaise-superwide.JPG);
      }

      @include desktop {
        background-image: url(../img/dunamaise-desktop.JPG);
      }
      @include tablet {
        background-image: url(../img/dunamaise-tablet.JPG);
      }
      @include mobile {
        background-image: url(../img/dunamaise-mobile.JPG);
      }

    }

    .body-overlay{
      &.show{
        z-index:1;
        height: 100%;
        background-color: rgba($black,0.9);
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: " ";
      }
    }
  }
}
