// colours

// text
.white{
  color: $white;
}
.black{
  color: $black;
}
.cream{
  color: $cream;
}

// background
.white-bg{
  background-color: $white;
}
.black-bg{
  background-color: $black;
}
.cream-bg{
  background-color: $cream;
}
.green-bg{
  background-color: $green;
}


// opacity %'s
$i: 10;
@while $i < 100 {
  .opacity-#{$i}{
    @include opacity($i);
  }
  $i: $i + 10;
}
