.footer{
  padding: 1em 0;
  text-align: center;
  &.anchor{
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  span {
    margin: 0 auto;
    @include wolfhound-logo ('35', '35', $primaryForegroundColour);
  }
  .copyright {
    font-size: 0.6em;
  }
}
