.footer{
  padding: 1em 0;
  text-align: center;
  &.anchor{
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .logo {
    vertical-align: center;
    width: 35px;
    height: 35px;
  }
  .copyright {
    font-size: 0.6em;
  }
}
