[gallery] {

  img.gallery-item {
    &:hover, &:focus {
      transform: scale(1.04);
    }
  }

  .responsive-image {
    margin: 0;
  }
}

.image-gallery {
  overflow-y: auto;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  background: rgba($black,0.95);

  h2 {
    margin: 0 0 0.83em 0;
  }

  .item-count{
    margin-bottom: 1em;
    @include tablet {
      position: absolute;
      width: 100%;
    }
  }

  .close-button {
    font-weight: bold;
    position: absolute;
    font-family: $header-font;
    top: 0.5em;
    right: 0.5em;
    font-size: 1.2em;
    padding: 0;
  }

  .direction-buttons {
    font-size: 4em;
    position: absolute;
    top: 50%;
    z-index: 10;

    @include tablet {
      margin: 1em 0 0 0;
      width: 50%;
      position: relative;
      bottom: 1em;
      top: initial;
      font-size: 2em;
    }
    button {
      outline: none;
      background: none;
      border: none;
      color: rgba($primaryForegroundColour, 0.5);
      &:hover {
        color: rgba($primaryForegroundColour, 1);
      }
    }
    &.prev {
      left: 0;
      @include tablet {
        float: left;
      }
    }
    &.next {
      right: 0;
      @include tablet {
        float: left;
        text-align: right;
      }
    }
  }
}
