// layouts
//  -- for all things breaking the layout

// block types
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}

// position
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}

// positioning location
.all-0 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.right {
  right: 0;
}

// overflow
.overflow-hide {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}

// floats
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.float-none {
  float: none;
}
