// menus
.main-menu{
  font-family: $header-font;

  .menu-button {
    font-family: $header-font;
    color: $primaryForegroundColour;
    border:2px solid rgba($primaryForegroundColour, 1);
    font-weight: bold;
    font-size: 1em;
    display: none;
    text-decoration: none;
    margin: $std-padding*2;
    padding: $std-padding*2;
    float: right;
    position: relative;
    z-index: 1;
    background: transparent;

    &.show{
      color: $menuForegroundColour;
      border:2px solid rgba($menuForegroundColour, 1);
    }

    .hamburger {
      width: 22px;
      display: block;
      float: left;
      margin-top: ($std-padding/5)*2;
      margin-right: $std-padding*2;

      .bar {
        display: block;
        width: 100%;
        height: 3px;
        background: #fffdd0;
        margin: 0 0 5px 0;
      }

      .x {
        height: 8px;
        display: block;
        width: 100%;
        position: relative;

        .bar {
          position: absolute;
        }
      }

      &.open {
        .bar {
          &.top, &.bottom {
            @include transition(all 0.1s linear);
            @include opacity(0);
          }
        }
        .x {
          .rotateleft {
            @include transition(all 0.2s linear);
            @include transform(rotate(-45deg));

          }
          .rotateright {
            @include transition(all 0.2s linear);
            @include transform(rotate(45deg));

          }
        }
      }
    }

    @if $shadow {
      box-shadow: 0px 0px 3px rgba($black, 0.5), 0px 0px 3px rgba($black, 0.5) inset;
      text-shadow: 0px  0px 3px $black;
    }

    @include tablet {
      display: inline-block;
      position: absolute;
      right: 0;
      z-index: 2;
    }
  }

  ul {
    float: right;
    position: relative;
    z-index: 1;

    li {
      display: inline-block;
      list-style-type: none;
      text-align: right;
      padding: 0 ($std-padding/5)*2;

      a{
        cursor: pointer;
        display: inline-block;
        padding: $std-padding*2;
        color: $primaryForegroundColour;
        border:2px solid rgba($primaryForegroundColour, 0);
        font-weight: bold;
        font-size: 1em;
        text-decoration: none;
        @include transition(all 0.2s linear);

        @if $shadow {
          text-shadow: 0px  0px 3px $black;
        }

        &:hover, &:focus, &.active {
          border:2px solid rgba($primaryForegroundColour, 1);
          outline: 0;
          @if $shadow {
            box-shadow: 0px 0px 3px rgba($black, 0.5), 0px 0px 3px rgba($black, 0.5) inset;
          }
        }
      }

      @include tablet {
        display:block;
        text-align: center;
      }
    }

    @include tablet {
      display: none;
      padding: $std-padding*2;
      margin: 0;

      &.show {
        padding: 4em 0;
        display: block;
        position: absolute;
        width:100%;
        font-size: 2em;
        li {
          a{
            line-height: 1.5em;
            text-align:center;
            margin:$std-padding 0;
            color: $menuForegroundColour;
            border:2px solid rgba($menuForegroundColour, 0);
            &:hover, &:focus, &.active {
              border:2px solid rgba($menuForegroundColour, 1);
            }
          }
        }
      }
    }
  }

  @include tablet {
    &.show{
      z-index: 1;
      position: absolute;
      width: 100%;
    }
  }
}
