// home page text
.title-text {
  line-height: 1em;
  text-rendering: optimizeLegibility;
  font-family: $header-font;
  letter-spacing: -2px;
  text-transform: uppercase;
  display: block;

  @include superwide {
    font-size: 5em;
  }
  @include desktop {
    font-size: 10vw;
  }
}

.subtitle-text {
  font-weight: normal;
  display: block;

  @include superwide {
    font-size: 1.75em;
  }
  @include desktop {
    font-size: 3.5vw;
  }
  @include tablet {
    font-size: 5vw;
  }
}

// legacy overlay for < IE9 browsers
.legacy {
    background-color: $mainBackgroundColour;
    display: block;
    z-index: 1000;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    zoom: 1;
}

// Cookie Warning Banner
[cookie-warning] {
  width: 100%;
  .cookie-warning {
    background-color: rgba($black, 0.9);
    color: $white;
    a {
      color: $white;
    }
    span {
      width: 75%;
      @include tablet {
        width: 100%;
      }
    }
  }
}

// Quote Selection Tooltip
.quoteTooltip {

  &:before{
    position: absolute;
    content: "";
    display: block;
    background: $primaryForegroundColour;
    width: $std-padding*2;
    height: $std-padding*2;
    left: 50%;
    margin-left: -$std-padding;
    transform: rotate(45deg);
  }

  &.bottom{
    &:before{
      bottom: -$std-padding;
    }
  }
  &.top{
    &:before{
      top: -$std-padding;
    }
  }

  background: $primaryForegroundColour;
  color: $mainBackgroundColour;
  width: $std-padding*10;
  height: $std-padding*10;
  position: absolute;
  border-radius: $std-padding;

  a {
    text-decoration: none;
    font-size: 1.5em;
    color: $mainBackgroundColour;
    display: block;
    text-align: center;
    line-height: $std-padding*10;
  }
}

// skill lists
.skills {
  position: relative;
  margin-bottom: 20px;

  .parent, .child{
    &:hover {
      h3:after, h4:after {
        color: lighten($primaryForegroundColour, 50%);
        content: " (Click to expand)";
        font-size: 0.8em;
      }
    }
  }

  .bar {
    position: absolute;
    border-right: 2px solid lighten($primaryForegroundColour, 65%);
    top:0;
    height: 100%;
    content: " ";
    z-index: -1;

    &.third{
      left:32.9%;
    }
    &.twothirds{
      left:65.9%;
    }
  }

  .expand {
    margin-top: 20px;
    float:right;

    &.down{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: $primaryForegroundColour transparent transparent transparent;
    }
    &.up{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent $primaryForegroundColour transparent;
    }
  }
  .a-row{
    border-bottom: 2px solid $primaryForegroundColour;
  }
  .skill-level-header {
    width: 33%;
    float:left;

    &.last{
      width: 34%;
    }
    span{
      display: inline-block;
      padding: 5px;
      @include tablet {
        font-size: 0.8em;
      }
    }
  }

  h3, h4, h5 {
    margin: 1em 0 0 0;
    font-size: 75%;
    display: inline-block;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 5px;
      list-style: none;

      div.skill {
        padding: 0.5em;
        display: block;
        height: 15px;
        color: $mainBackgroundColour;
        background: $primaryForegroundColour;

        &.child {
          background: lighten($primaryForegroundColour, 20%);
        }
        &.grandchild {
          background: lighten($primaryForegroundColour, 45%);
        }

      }

      > ul {
        margin-top: 5px;

        li {

          > ul {
            margin-top: 5px;
          }
        }
      }
    }
  }
}
