// no paddings

.no-padding{
  padding: 0;
}
.no-padding-top{
  padding-top: 0;
}
.no-padding-bottom{
  padding-bottom: 0;
}
.no-padding-left{
  padding-left: 0;
}
.no-padding-right{
  padding-right: 0;
}

// px paddings
// all
$i: 5;
@while $i < 50 {
  .padding-all-#{$i}px{
    padding: #{$i}px;
  }
  $i: $i + 5;
}

// left
$i: 5;
@while $i < 50 {
  .padding-left-#{$i}px{
    padding-left: #{$i}px;
  }
  $i: $i + 5;
}

// right
$i: 5;
@while $i < 50 {
  .padding-right-#{$i}px{
    padding-right: #{$i}px;
  }
  $i: $i + 5;
}

// top
$i: 5;
@while $i < 50 {
  .padding-top-#{$i}px{
    padding-top: #{$i}px;
  }
  $i: $i + 5;
}

// bottom
$i: 5;
@while $i < 50 {
  .padding-bottom-#{$i}px{
    padding-bottom: #{$i}px;
  }
  $i: $i + 5;
}

