// Angular JS NgCloak default CSS
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.divider{
  .center{
    @include center-block('20px', '20px');
  }

  @include transition(all 0.5s linear);

  border-bottom: 2px solid $primaryForegroundColour;
  height: 2px;
  display: block;
}

.ghost-button{

  border: 2px solid $primaryForegroundColour;
  text-decoration: none;
  color: $primaryForegroundColour;
  padding: 0.5em 1em;
  background: rgba($primaryForegroundColour, 0);

  &.alt {
    border-color: $mainBackgroundColour;
    color: $mainBackgroundColour;
  }

  @include transition(all 0.5s linear);

  &:hover, &:focus {
    background: rgba($primaryForegroundColour, 0.2);
  }

  &.valid {
    background-color: rgba($green, 0.4);
    &:hover, &:focus {
      background: rgba($green, 1);
    }
  }

  &.filled {
    background-color: rgba($primaryForegroundColour, 0.8);
    color:$mainBackgroundColour;
    &:hover, &:focus {
      background: rgba($black, 1);
    }
  }

  .icon-filter {
    margin: 0 5px 0 -9px;
  }

  &.fixed-height {
    padding: 0 1em;
    line-height: 38.38px;
  }

  &.highlighted {
    background: rgba($primaryForegroundColour, 1);
    color:$mainBackgroundColour;
  }
}

.solid-button{
  background-color: $blue;
  color: $white;

  @include transition(all 0.5s linear);

  &:hover, &:focus {
    background-color: darken($blue, 20%);
  }

  text-decoration: none;
  padding: 0.5em 0.75em;
  border-radius: 3px;
}

.full-width{
  width: 100%;
}
.half-width{
  width: 50%;
}
.cursor {
  cursor: pointer;
}
