// global variables

// -- colours
$white: #fff;
$black: #000;
$altblack: #333;
$gray: #2c1c1c;
$slategray: #2F4F4F;
$lightgray: #E0E0E0;
$cream: #fffdd0;
$purple: #330033;
$softred: #fc4444;
$midnightblue: #191970;
$navy: #00001a;
$green: #006400;
$red: #FF0000;
$blue: #15c;

// -- material ui colors
$wet-asphalt: #34495e;
$clouds: #ecf0f1;

// -- breakpoints
$superwide: 1201px;
$desktop: 1200px;
$tablet: 767px;
$mobile: 500px;

// -- padding/margin
$std-padding: 5px;

// -- text/box shadows
$shadow: false;

// font families
$header-font: 'Montserrat', sans-serif;
$wmd-font: 'WMD Logo';
$body-font: 'Lora', serif;
