extends ../pug/html.pug

block variables
  - var pagetitle = 'Unauthorised';
  - var footerHidden = true;

block content
  h1 #{pagetitle}
  +error-page('401')
  p It seems you are restricted from seeing this page.

