extends ../jade/html.jade

block variables
  - var pagetitle = '401 - Unauthorised';
  - var footerHidden = true;

block content
  h1 #{pagetitle}
  p It seems you are restricted from seeing this page.

