extends ../pug/html.pug

block variables
  - var pagetitle = '400 - Access Forbidden';
  - var footerHidden = true;

block content
  h1 #{pagetitle}
  p Um.... looks like you don't have access to view this particular page. Looks like the issue is on my side.

