header#top.header.block.relative.margin-bottom-10px.margin-top-10px
  //- logo
  div.logo.block.absolute.top-0.left-0.margin-left-15px.margin-top-10px
    a(href="/" title="Link to Wolfhound Homepage" ng-class="{'show': menuShown}")
      img(class="wolfhound-logo" src="/assets/svg/wolfhound-logo.svg" alt="Wolhound Logo")

  //- main menu
  nav.main-menu.block.relative(role="navigation")
    button.menu-button.block(menu-button ng-click="toggle()" ng-class="{'show': menuShown}" aria-expanded="{{menuShown}}" aria-controls="collapsible-menu")
      span(class="hamburger" ng-class="{'open': menuShown}")
        span(class="bar top")
        span(class="x")
          span(class="bar rotateleft")
          span(class="bar rotateright")
        span(class="bar bottom")
      | {{ buttonText }}
    ul#collapsible-menu.links.margin-all-10px.no-padding-left(ng-class="{'show': menuShown}" aria-hidden="{{!menuShown}}")
      each item in site.pages
        if item.menulink
          li
            a(href=item.link active-menu-link) #{item.title}

