# .htaccess file
# <IfModule mod_rewrite.c>
# RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule api/(.*)$ api/index.php?request=$1 [QSA,NC,L]
# </IfModule>

ErrorDocument 400 /assets/error-docs/400.html
ErrorDocument 401 /assets/error-docs/401.html
ErrorDocument 403 /assets/error-docs/403.html
ErrorDocument 404 /assets/error-docs/404.html
ErrorDocument 500 /assets/error-docs/500.html

AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
