extends assets/jade/html.jade

block variables
  - var pagetitle = 'About';
  - var metaData = { contenttitle: pagetitle, url: site.baseurl + '/about.html', image: site.baseurl + '/assets/img/dunamaise-mobile.JPG', author: site.authors.harry, description: 'All about me.'};

block content
  h1 #{pagetitle}

  p My name is Harry, I currently work for the <a href="https://www.aerlingus.com">Aer Lingus</a> Digital Team as a <em>Senior UI Developer</em>.

  h2 Background

  p My background is in Computer Science. I studied in the <em>University of Limerick</em>. There I specialised in <em>Software Engineering</em>. While I covered a lot of different topics, Development was definitely my favourite. Prior to attending University I loved computers as a kid, be it playing games or just simply tinkering with them, figuring out how they work. From a very young age I was hooked, so I'm delighted I can spend every day doing what I enjoy.

  h2 Experience

  p I have <em>9 years</em> of professional development experience, in a variety of company types and industries. I have an additional <em>5 years</em> experience in freelance development. During that time I have experimented with a lot of programming languages, frameworks, libraries etc. The core of what I do now is JavaScript. Which is odd, in that I originally studied it as an aside to a module about Document Architecture, specifically relating to XML.

  h2 Core Skills

  p <em>Programming / Scripting / Data Structures</em>: JavaScript (AngularJS, JSON, jQuery), HTML5, CSS/3 (Sass, Less), XML, COBOL, C#, VB 6, Classic ASP, C++, Java
  p <em>Version Control</em>: Git, Subversion
  p <em>Content Management Systems</em>: Drupal, WordPress, TERMINALFOUR Site Manager, Umbraco, Expression Engine
  p <em>Special Interest</em>: Content Management Systems, Web Design, Web Accessibility, User Experience (UX) Development.
  p <em>Databases</em>: MySQL 4/5, Oracle 8/9/10g/11g, Microsoft SQL Server 7/2000/2005
  p <em>Operating Systems</em>: Windows, Various Linux/Unix Distributions, including Debian based i.e. Ubuntu &amp; Linux Mint, Red Hat Enterprise (3,4,5), Sun Solaris, SuSE and Mac OSX
  p (above is listed in order of familiarity, with most knowledgeable first)

  h2 Some nice things people have said about me

  blockquote
    p I have worked closely with many IT professionals throughout my digital career and Harry stands out as being one of the best.

  p Michelle Sheehan, Digital Marketing Manager, 123.ie <em>(from my <a href="https://www.linkedin.com/in/harrymckillen" target="_blank">LinkedIn</a>)</em>

  blockquote
    p A skilled web developer with a solid body of experience. Hard working and dedicated to a fault, Harry is also highly approachable and helpful.

  p Diarmuid Power, Senior Software Engineer, TERMINALFOUR <em>(also from my <a href="https://www.linkedin.com/in/harrymckillen" target="_blank">LinkedIn</a>)</em>
