extends assets/pug/html.pug

block variables
  - var pagetitle = 'About';
  - var metaData = { contenttitle: pagetitle, url: site.baseurl + '/about.html', image: site.baseurl + site.defaultThumbnail, author: site.authors.harry, description: 'All about me.'};

block content
  h1 #{pagetitle}

  div(ng-cloak my-cv)

    span(ng-if="errorLoadingCV" class="error-message") Something went wrong, we couldn't contact github!

    div(ng-if="!errorLoadingCV")

      p My name is {{generalInfo.name}}, I currently work for <em>{{currentRole.company}}</em> as a <em>{{currentRole.role}}</em>.

      h2 Bio

      p {{generalInfo.bio}}


      h2 Skills

      p Below is how I feel I rank with the respective technologies/skills I've acquired over my career to date. And while many may rank as expert, it doesn't mean I know absolutely everything there is to know about them, only that I am comfortable to be able to learn what I need to in order to fill in those gaps.

      +skills

    h2 Some nice things people have said about me

    blockquote
      p I have worked closely with many IT professionals throughout my digital career and Harry stands out as being one of the best.

    p Michelle Sheehan, Digital Marketing Manager, 123.ie <em>(from my <a href="https://www.linkedin.com/in/harrymckillen" target="_blank">LinkedIn</a>)</em>

    blockquote
      p A skilled web developer with a solid body of experience. Hard working and dedicated to a fault, Harry is also highly approachable and helpful.

    p Diarmuid Power, Senior Software Engineer, TERMINALFOUR <em>(also from my <a href="https://www.linkedin.com/in/harrymckillen" target="_blank">LinkedIn</a>)</em>

    //- h2 Experience

    //- p I have <em>9 years</em> of professional development experience, in a variety of company types and industries. I have an additional <em>5 years</em> experience in freelance development. During that time I have experimented with a lot of programming languages, frameworks, libraries etc. The core of what I do now is JavaScript. Which is odd, in that I originally studied it as an aside to a module about Document Architecture, specifically relating to XML.

    p To see some of projects I have been involved in, <a href="/work.html">check out the Work section</a>.
