extends assets/pug/html.pug

block variables
  - var pagetitle = 'Cookie Policy';
  - var metaData = { contenttitle: pagetitle, url: site.baseurl + '/cookies.html', image: site.baseurl + site.defaultThumbnail, author: site.authors.harry, description: 'TL;DR: Yes, there are cookies, but I don\'t use them to track you.' , twitter_large: true};

block content
  h1 #{pagetitle}

  p I'll dispense with the legalese. We use cookies, but we don't use them to track you in order to glean information about your habits across the web. At most, I want to see pages people visit on this site, and how they may interact with the site itself.

  p Since May 25th, 2018 in the EU, companies have gone a little beserk over this whole General Data Privacy Regulation which has come into force. It's all about what information websites and services collect and store about you. I don't store any private data on you. This is a rinky dink little site for personal usage, and I have better things to be doing that putting effort into harvesting tranches of personal data of the few visitors to the site.

  p Let me illustrate my point with a Simpsons Meme if you will;

  +image('/assets/img/articles/736385.jpg', 'Wow, a meme about Data Privacy')

  h2#Cookies Examples of Cookies

  table
    tr
      th.first-col Cookie Name
      th Cookie Description
      th.third-col Age
    tr
      td.first-col _ga,<br>
       | _gat,<br>
       | _gid
      td These Cookies relate to Google Analytics. This simply allows me to see the number of visitors I receive, their location, browser etc. GA contains completely anonymised information, which complies with the EU GDPR. So it must be okay.
      td.third-col 2 years (_ga)<br>
       | Session (_gat)<br>
       | 1 day (_gid)
    tr
      td.first-col acceptCookiesCookie
      td If you accept cookies, I set a cookie for a year on your browser, to not show you the annoying cookie policy banner.
      td.third-col 1 year



