extends assets/jade/html.jade

block variables
  //- var pageClassName = 'home'
  - var gridSize = 'large'
  - var footerHidden = true;
  - var metaData = { contenttitle: site.title, url: site.baseurl + '/index.html', image: site.baseurl + '/assets/img/dunamaise-mobile.JPG', author: site.authors.harry, description: 'This site acts as my portfolio and CV. My name is Harry McKillen, a Web Developer with over 10 years experience.', twitter_large: true};

block content
  div.no-margins.margin-left-15px.margin-right-15px.margin-top-4em.margin-bottom-4em
    h1.title-text
      span Wolfhound
      span.mediadesign Web Development.

    span.divider.margin-top-45px.margin-bottom-60px.full-width

    a(href="work.html").ghost-button.bold.inline-block.header-font.font-n What I do
    a(href="contact.html#/hire-me").ghost-button.bold.inline-block.header-font.font-n.margin-left-20px Hire Me
