extends assets/pug/html.pug

block variables
  - var pagetitle = 'Dear Recruiter';
  - var metaData = { contenttitle: pagetitle, url: site.baseurl + '/what-i-am-looking-for.html', image: site.baseurl + site.defaultThumbnail, author: site.authors.harry, description: 'Trying to articulate what type of companies I would seek to work for in the future.'};

block content
  h1 #{pagetitle}

  p

  p As with anyone, a career is not a fixed thing. Since starting in Aer Lingus in 2014, I've progressed from a Senior Developer to a Team Lead level. I look after a team of 15-16 people roughly, at any one time. I keep in touch with the technical aspects of my role. I'm sadly not full-time devoted to Development at present. But am seeking very much the opportunity to get back to a hands-on Development role, with the addition of .

  h2 Current responsibilities
  p //todo

  h2 Next role
  p //todo
