extends assets/pug/html.pug

block variables
  - var pagetitle = 'Work';
  - var metaData = { contenttitle: pagetitle, url: site.baseurl + '/work.html', image: site.baseurl + site.defaultThumbnail, author: site.authors.harry, description: 'Some examples of my work, and a few projects I have done for fun.'};

block content
  h1 #{pagetitle}

  p You may remember me* from such websites as... this fine bunch. It is a snapshot of sites I have had some part to play in the development of over the years. Some are old, some are outdated, some are probably not even online anymore.

  div(gallery)
    h2 Professional

    p.margin-bottom-1em Most of these I have worked on when working full-time, or as a contractor for the particular company. There is at least one freelance example from recent years. But largely I have shied away from pursuing freelance work lately in favour of personal projects.

    div.a-row

      div.a-column.width-4-of-12

        +image('/assets/img/work/aerlingus.png', 'Aer Lingus', 'Working as part of the UI Team to deliver the aerlingus.com website. Primarily using HTML, CSS, and built using the AngularJS Framework. We employ a number of tools as part of the tool chain, including Node.js, and GruntJS for development and build operations. ')

      div.a-column.width-4-of-12

        +image('/assets/img/work/123.png', '123.ie', 'My role in 123.ie was mainly focused in the area of Front-end Web Development. I worked alongside the Java team, assisting them in delivering 123.ie\'s business application from a front-end/UI perspective. We were in the process of delivering completely responsive solutions across our main business applications. I also worked alongside our Marketing team to support our client facing website, built in Drupal.')

      div.a-column.width-4-of-12

        +image('/assets/img/work/xero.png', 'Xero', 'I worked on Xero\'s high-volume traffic marketing website for just over a year. I maintained the current site as well as developing new interactive sections and functionality for new campaigns. Recently I assisted in the latter stages of porting the website to the Umbraco CMS. I also maintained plugins and themes for the Xero blog. The website is built primarily in C# and XSLT, with HTML, JS, and CSS infused throughout. The blog uses Wordpress.')

      div.a-column.width-4-of-12

        +image('/assets/img/work/crehan.png', 'Jonathan Crehan', 'I worked in conjunction with Designer Jennifer Goodwin to construct this website for Composer Jonathan Crehan. The project had a clear set of goals, with the website being constructed to specification and as per designs using Wordpress. I found both Jennifer and Jonathan fantastic to work with as both knew exactly what they wanted. The site is built with HTML5 & CSS3 with modern browsers in mind. It has fallback for legacy browsers.')

    div.a-row

      div.a-column.width-4-of-12

        +image('/assets/img/work/nzedge.png', 'NZ Edge', 'While working for SweeneyVesty, as a pet project I worked on converting a previously MS Frontpage built and managed site to Wordpress. Containing 10,000+ articles, content was migrated, and a custom template and hierarchy was developed. It was an interesting project which took some years until after I had left NZ to launch.')

      div.a-column.width-4-of-12

        +image('/assets/img/work/nzam.png', 'NZAM', 'As a Contract Web Developer for SweeneyVesty, I worked on numerous projects. The NZAM project involved constructing this website against tight deadlines, and a relatively small budget. I primarily worked on theme modifications using PHP and much of the Javascript functionality used on the website. NZAM uses a Wordpress backend for it\'s CMS.')

      div.a-column.width-4-of-12

        +image('/assets/img/work/sisomo.png', 'Sisomo', 'This pre-existing website is built using the Expression Engine CMS. I quickly got up to speed with the CMS and was able to update the website, removing certain things like the Flash menu, constructing the equivalent functionality using jQuery and HTML.')

      div.a-column.width-4-of-12

        +image('/assets/img/work/bookclub.png', 'BGE Bookclub', 'The Irish Gas Board sponsors a lot of initiatives, this particular website involved building a social media based website. The main purpose of the website was to allow Book Clubs, Libraries and their members to signup to share and rate their favourite books.')

    div.a-row

      div.a-column.width-4-of-12

        +image('/assets/img/work/breakingthrough.png', 'Breaking Through', 'Bord Gáis sponsor the Gaelic Athletic u-21 Hurling Championship. The premise of this website is an interactive fantasy league system spread over the Championship season.')

      div.a-column.width-4-of-12

        +image('/assets/img/work/ait.png', 'Athlone Institute of Technology', 'For this project I was tasked with the cut-up and development of the templates into TERMINALFOUR\'s Site Manager for the Athlone Institute of Technology, a third level institute in the Midlands, Ireland. The templates were developed using XHTML, CSS and jQuery for some features. The site was cross browser tested to work on IE6+ at the time.')

      div.a-column.width-4-of-12

        +image('/assets/img/work/chiefscientificadvisor.png', 'Chief Scientific Advisor', 'I helped integrate and helped construct the various templates required for the new Chief Scientific Advisor of Ireland website. This was built using TERMINALFOUR\'s Site Manager. The HTML markup was supplied, along with the graphics. These were then integrated, and minor changes were made to facilitate the dynamic nature of the CMS to allow the menu to grow organically without requiring future input from developers.')

      div.a-column.width-4-of-12

        +image('/assets/img/work/egfsn.png', 'Expert Group on Future Skills Needs', 'Based on Forfás\'s (parent body) website, this colours for this design were altered to give it a slightly different look in order to tie in with the current colours for the old website. I was involved with the initial setup and installation of the CMS server, as well as integration of some of the sub-sites.')

    div.a-row

      div.a-column.width-4-of-12

        +image('/assets/img/work/elementsix.png', 'Element 6', 'Collaborated on this project in order to cut up and integrate this design and corresponding functionality into TERMINALFOUR\'s Site Manager. This project involved a tight delivery schedule and it was delivered on time despite having a database failure issue.')

      div.a-column.width-4-of-12

        +image('/assets/img/work/fingalworks.png', 'Fingal Works', 'Built for Fingal County Council, we received the design of this website in Photoshop Format. I constructed the cross-browser HTML templates and integrated these into their CMS. The styles consist of a main homepage, and multiple micro-sites incorporating a different colour depending on what section you\'re currently browsing.')

      div.a-column.width-4-of-12

        +image('/assets/img/work/sligo.png', 'Sligo.ie', 'For this project I helped integrate a supplied HTML template into Sligo County Council\'s TERMINALFOUR Site Manager installation. The project also involved some Javascript development for developing a custom slider. As always I endeavour to develop my projects using valid XHTML and CSS to aid accessibility.')

      div.a-column.width-4-of-12

        +image('/assets/img/work/into.png', 'Irish National Teachers Organisation', 'A client of TERMINALFOUR\'s, the Irish National Teacher\'s Organisation website incorporated both a public front facing section, as well as a teachers only section which provides teachers with added features and resources. Coupled with the standard website version, a simple mobile version of the website was built, this was prior to the progress and development time put into current mobile version trends.')

    h2 Personal

    p.margin-bottom-1em These are mostly for fun. By me and for me.

    div.a-row

      div.a-column.width-4-of-12

        +image('/assets/img/work/wmd.png', 'Wolfhound Media Design', 'Since 2007 my website has existed in various forms. Primarily as a Wordpress site. The previous incarnation marks the end of my use of Wordpress as a driver of wolfhound.ie. ')

      div.a-column.width-4-of-12

        +image('/assets/img/work/yafgs.png', 'Yet Another Feckin\' Grid System', 'I put together a small grid system for myself. Combines a bunch of types of grid systems in one. Sometimes I find there is a lack of options if you choose one over the other. This aims to give loads and loads of options.')

      div.a-column.width-4-of-12

        +image('/assets/img/work/githubpages.png', 'harrymckillen.github.io', 'A very simple landing page I have put on GitHub pages. I started developing a small DOS UI Library. It\'s still incomplete, so this represents my current only usage of it.')

      div.a-column.width-4-of-12

        +image('/assets/img/work/irelandfont.png', 'Ireland Font', 'Just a simple font I created. 33 glyphs altogether, one for each county and the map of Ireland. Useful if you want to great a nice crisp map that will look great on all devices, especially with retina/hi-res screens.')

    +image-gallery


  p.margin-top-1em * there's a great chance you don't
