include ../jade/mixins.jade

//- +article-filters

+loading

//- +pagination

//- div.a-column.width-1-of-12.article-preview(ng-repeat="article in articles | filter: searchFilters.text | filter: searchFilters.category as filteredResult")

div.a-column.width-1-of-12.article-preview(ng-repeat="article in articles as filteredResult")

  div.postinfo
    span Issue \#{{article.issue}}
    span.middot &middot;
    span(ng-bind="article.date | date:'LLLL dd, yyyy'")

  a(ng-href="{{article.link}}")
    h2 {{article.title}}
    p {{article.intro}}
    span.ghost-button.read-article.inline-block(ng-href="{{article.link}}") Read article


div.margin-bottom-1em(ng-show="!filteredResult.length") No articles found in search

+pagination
