div.cookie-warning.padding-all-15px.relative.clearfix(ng-if="showCookieWarning")
  span.float-left Hey, this site has some cookies. Not many. And certainly nothing dodgy. But if you continue to browse the site, this is to make you aware of this fact. To hide this annoying message, click the 'Understood' button.
  button.float-right.ghost-button.alt(ng-click="acceptCookies()") Understood
