// wolfhound variables
@import 'components/variables';

// main theme
$mainBackgroundColour: $white;
$secondaryBackgroundColour: $lightgray;
$primaryForegroundColour: $altblack;
$secondaryForegroundColour: $white;
$menuForegroundColour: $secondaryForegroundColour;
$linkHoverBackgroundColour: $primaryForegroundColour;
$formDropdownBackgroundColour: $white;
$formDropdownForegroundColour: $navy;

@import 'wolfhound';
