// wolfhound variables
@import 'components/variables';

// main theme
$mainBackgroundColour: $wet-asphalt;
$secondaryBackgroundColour: $lightgray;
$primaryForegroundColour: $clouds;
$secondaryForegroundColour: $wet-asphalt;
$menuForegroundColour: $primaryForegroundColour;
$linkHoverBackgroundColour: $primaryForegroundColour;
$formDropdownBackgroundColour: $white;
$formDropdownForegroundColour: $navy;

@import 'wolfhound';
